meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Insumos, textiles y maquinaria de confección
meta(meta name="description" content="Mediante el estudio de este componente formativo el aprendiz logrará identificar y reconocer los insumos requeridos en cada una de las líneas de producto, las propiedades de los textiles y su composición para diferenciar su uso en las diferentes líneas de producción. Clasificar la maquinaria de confección, analizar los mecanismos de funcionamiento de la maquinaria para una óptima puesta a punto y proceder a su manejo, además, describe los ejercicios básicos para el manejo de las máquinas básicas. Reconocer las normas de calidad y la estructura de la norma internacional ISO 9001:2015.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")