h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Verificar la calidad de los materiales e insumos utilizados en los diferentes procesos de confección, aplicando técnicas de muestreo y la ficha técnica.
            li
                span Analizar los procesos de confección según especificaciones técnicas.