h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducci칩n', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Materiales e insumos de confecci칩n', 'main.html#page/Materiales_e_insumos_de_confeccion/')
                    +navTemaItem('2', 'Textiles', 'main.html#page/Textiles/')
                    +navTemaItem('3', 'Puesta a punto y manejo b치sico de maquinaria de confecci칩n', 'main.html#page/Puesta_a_punto_y_manejo_basico_de_maquinaria_de_confeccion/')
                    +navTemaItem('4', 'Normas de Calidad', 'main.html#page/Normas_de_Calidad/')