.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td ISO 9001: 2015 Sistemas de Gestión de Calidad.
                    td PDF
                    td 
                        a(href="media/documentos/ISO_9001_2015_Sistemas_de_Gestion_de_Calidad.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Alonso Felipe, J. (2015). Manual Control de calidad en productos textiles y afines.
                    td PDF
                    td 
                        a(href="media/documentos/Alonso_Felipe_J_(2015)_Manual_Control_de_calidad_en_productos_textiles_y_afines.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   
                tr
                    td COATS (s.f.) Especificaciones técnicas hilos Coats. Marca registrada 
                    td PDF
                    td 
                        a(href="media/documentos/COATS_(s.f.)_Especificacio_es_tecnicas_hilos_Coats_Marca_registrada.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Gutiérrez, S (2020) Textiles
                    td Documento Word
                    td 
                        a(href="media/documentos/Gutierrez_S_(2020)_Textiles.docx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Mondragón Aguilar, J (2002) Fibras textiles 
                    td Biblioteca SENA / VIRTUALPRO 
                    td 
                        a(href="https://www-virtualpro-co.bdigital.sena.edu.co/download/fibras-textiles.pdf", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver 
                tr
                    td Aitex (s.f.) Tejidos de punto, tipos, propiedades y aplicaciones
                    td Artículo Web 
                    td 
                        a(href="https://www.aitex.es/tejidos-punto/", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Andrea Arzola, (2020), Detrás de un clásico: Descubrí la historia del jean
                    td Artículo web 
                    td 
                        a(href="https://bit.ly/3jlkHn1", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Big Jeans, 2019, Para los fans de las camisetas polo: conoce su historia
                    td Artículo web 
                    td 
                        a(href="https://www.bigjeans.es/blog/historia-de-los-polos-lacoste-l1212/", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Claudia Villegas Marín, 2013, Fibras textiles naturales sustentables y nuevos hábitos de consumo
                    td Artículo web 
                    td 
                        a(href="https://www.redalyc.org/pdf/4779/477947372003.pdf", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Wikipedia, (2020) Encaje
                    td Artículo web
                    td 
                        a(href="https://es.wikipedia.org/wiki/Encaje", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver 
                tr
                    td COATS Group (2020) Cierres 
                    td Catálogo de productos web 
                    td 
                        a(href="https://www.coats.com/es/Products?type=Zips&type=Zips", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td #[i Bussines Insider] España, (2019) Porque las prendas de cachemir son tan caras
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=y5u9hDFgz7A", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Canal sur, (2013) En red Tejidos inteligentes
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=rDFxM5kxxXA", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Educacciontv. (2012) Elaboración de la seda
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=GGKym9V55eU", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td El país (2018) La revolución de la ropa inteligente/ tecnología
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=1s8DXEXFDY8", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver 
                tr
                    td Organic Cotton Colours (2016) Proceso de hilatura del algodón orgánico 
                    td Video YouTube 
                    td 
                        a(href="https://youtu.be/KFwmZVsQkTM", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Juliana Vélez y otros (2011), Producción de fibra de algodón
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=RZzhKSAELIE", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Laboratorio de Shaanetz Hadar Lebush, (2016). Proceso de elaboración del lino
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=IPXRa53aBQc", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Profe Suescún, (2018) Cómo graduar los Dientes y qué es el Diferencial (Fileteadora) | Pegasus M752 
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=1QnmRRkv3_w", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Profe Suescún, (2018) Cómo subir y bajar los dientes | Máquina Plana 
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=D_TkdkHujlk", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver 
                tr
                    td Universidad politécnica de Valencia, (2017) Sistemas de numeración de los hilos
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=MFhVPWzvf3w", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Universidad politécnica de Valencia, Numeración de los hilos a varios cabos, 2018
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=KW05uFDwxmE", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Únicas.pe, (2013) Algodón Pima: Reconoce prendas de algodón gracias a Pinto Perú
                    td Video YouTube 
                    td 
                        a(href="https://www.youtube.com/watch?v=umwZpZHjy1M", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Emprendedores y manufacturas (2019) Industria textil desde el hilado hasta el teñido, tejido, corte y confección
                    td Video YouTube
                    td 
                        a(href="https://youtu.be/rVWoiEnLFU8", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver