include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Alonso Felipe, J. (2015). Manual Control de calidad en productos textiles y afines [PDF] (p. 81).", "http://oa.upm.es/38763/")
        +referenciaItem("ARCOLINE. (2020). Arcoline portafolio.", "https://arcoline.com/portafolio/")
        +referenciaItem("Celestecielo, G. (2012, junio). Montar cremallera El Rincón De celestecielo. ", "https://elrincondecelestecielo.blogspot.com/2012/06/coser-cierres-o-cremalleras-de-forma.html")
        +referenciaItem("CI Estrada Velásquez CIA S.A.S. (2020). Insumos de moda", "https://www.estradavelasquez.com/index.php/insumos-moda")
        +referenciaItem("COATS Group. (2020). Productos. COATS.", "https://www.coats.com/")
        +referenciaItem("FABRICATO. (2020). Fabricato nuestros productos.", "https://www.fabricato.com/es/nuestros-productos/vestuario")
        +referenciaItem("Gavilán, B. (2015, mayo 20). Tejido de punto. SlideShare.", "https://www.slideshare.net/bladimirgavilan/tejido-punto")
        +referenciaItem("IKONET. (2020). Ligamentos textiles básicos. Diccionario visual.", "http://www.ikonet.com/es/diccionariovisual/arte-y-arquitectura/oficios/tejido/ligamentos-textiles-basicos.php")
        +referenciaItem("ISO. (s.f.) ISO 9001: 2015 (es) Sistemas de Gestión de Calidad.", "https://www.iso.org/obp/ui/#iso:std:iso:9001:ed-5:v1:es")
        +referenciaItem("Kette_und_Schuß. (2009, agosto 27). Trama y urdimbre.", "https://commons.wikimedia.org/wiki/User:Ryj")
        +referenciaItem("LAFAYETTE. (2020). Lafayette inspiración que transforma.", "https://www.lafayette.com/")
        +referenciaItem("ManualsLib. Enhebrado de la máquina - Manuales máquina de coser Brother T-8422A (p. 28)", "https://www.manualslib.com/manual/442249/Brother-T-8422a.html?page=28#manual")
        +referenciaItem("ManualsLib. Enhebrado de la máquina - Manuales máquina de coser Brother ZM-851A (p. 47).", "https://www.manualslib.com/manual/442708/Brother-Zm-851a.html?page=47#manual")
        +referenciaItem("ManualsLib. Enhebrado de la máquina - Manual de instrucciones JUKI MO-6704D (p. 40)", "https://www.manualslib.com/manual/559355/Juki-Mo-6704d.html?page=40#manual")
        +referenciaItem("ManualsLib. Enhebrado de la máquina – Manual de instrucciones Siruba L818F (p. 18)", "https://www.manualslib.com/manual/1246266/Siruba-L818f.html?page=18#manual")
        +referenciaItem("ManualsLib. Enhebrado de la máquina - Manual técnico de la serie Pegasus W500 (p.9)", "https://www.manualslib.com/manual/1227894/Pegasus-W500-Series.html?page=9#manual")
        +referenciaItem("ManualsLib. Preparativos antes de coser; Colocación de la aguja; Enhebrado del hilo superior - Brother BE-438D Manual de Instrucción.(p. 30)", "https://www.manualslib.com/manual/452334/Brother-Be-438d.html?page=30#manual")
        +referenciaItem("ManualsLib. Enhebrado del hilo superior - Brother HE-800B Manual de instrucciones. (p. 31)", "https://www.manualslib.com/manual/483228/Brother-He-800b.html?page=31#manual")
        +referenciaItem("ManualsLib. Preparación antes de coser; Instalación de la aguja; Enhebrado del hilo superior - Brother KE-430F Manual de instrucciones. (p.35)", "https://www.manualslib.com/manual/440963/Brother-Ke-430f.html?page=35#manual")
        +referenciaItem("ManualsLib. Enhebrado del hilo superior - Brother RH-9820 Manual de instrucciones. MANUALSLIB. (2020).", "https://www.manualslib.com/manual/814434/Brother-Rh-9820.html?page=40#manual")
        +referenciaItem("ManualsLib. Enhebrando los hilos inferiores; enhebrado los hilos superiores - Manual De Instrucciones Brother DA-9280. (p. 19)", "https://www.manualslib.com/manual/482480/Brother-Da-9280.html?page=19#manual")
        +referenciaItem("Planeta Moda. (2018). Tejeduría. Tejido de punto y de calada.", "https://youtu.be/JtKDv_xH9VI")
        +referenciaItem("Salas, M. (2013). Análisis de textiles: curso básico, Editorial Trillas")
        +referenciaItem("Sánchez, Á. (2012). Iniciación en materiales, productos y procesos textiles. IC Editorial.")
        +referenciaItem("SENA. (2012). La máquina de coser (pp. 6,14).", "https://repositorio.sena.edu.co/sitios/modisteria_conocimientos_basicos/hilos_maquina/pdf/maquina_coser.pdf.")
        +referenciaItem("SENA. (2020). Alistamiento de máquina plana", "https://www.youtube.com/watch?v=YntKFwKopvQ")
        +referenciaItem("S. L. Innovación y Cualificación, (2018), Técnicas básicas de corte, ensamblado y acabado de productos textiles (2. ed.), IC Editorial.", "https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=5885418")
        +referenciaItem("SUTEX. (2020). Sutex textiles.", "https://www.sutex.com/?gclid=EAIaIQobChMIyqDz2_-b6wIVGP3jBx2q8Ad2EAAYASAAEgKmJ_D_BwE")
        +referenciaItem("Telas PATPRIMO (2020). Telas PatPrimo Nuestras Telas.", "http://www.telaspatprimo.com/inicio/nuestras-telas/")
        +referenciaItem("VIRTUALPRO (2002). Procesos industriales, manufactura y producción.", "https://www-virtualpro-co.bdigital.sena.edu.co/download/fibras-textiles.pdf")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            